<header>
  <%= image_tag "logo.png", width: "60px" %>  
  <h1>MeuLivro.tk</h1>

  <div id="novo">
    <%= form_for @text, url:root_path do |n| %>
      <%= n.submit "Criar documento" %>
    <% end %>
  </div>
</header>
<textarea>
(Editável)

COMO USAR EM 2 PASSOS:

1° Clique em "Criar Documento" para ter seu próprio arquivo de texto online.

2° Escreva oque preferir, salve e mande o numero do documento para seus amigos. Ex: meulivro.tk/1


O SEU TEXTO PODE SER ACESSADO E ALTERADO POR QUALQUER PESSOA.
</textarea>
