<header>
  <h1>MyDoc.herokuapp.com</h1>

  <div id="novo">
    <%= form_for @text, url:root_path do |n| %>
      <%= n.submit "Criar documento" %>
    <% end %>
  </div>
</header>
<textarea>
(Editavel)


Escreva oque você quiser.

Para quem você quiser.

    Como você quiser.

d@ m@n&ir@ q vc quise.
</textarea>
