@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

h1{
  float: left;
}

#novo{
  float: right;
  margin-top: 30px;
  color: black;
  margin: 30px;
}

header{
  background-color: orange;
  height: 80px;
  text-indent: 50px;
}

body{
  margin: 0;
  font-size: 120%;
  font-family: 'Open Sans Condensed', sans-serif;
}

textarea{
  position: relative;
  width: 90%;
  height: 500px;
  margin-top: 20px;
  left: 5%;
  font-size: 180%;
  border: 1px solid black;
  border-radius: 5px;
  font-family: 'Open Sans Condensed', sans-serif;
}

input{
  position: relative;
  background-color: orange;
  border: 1px solid black;
}

#salvar{
  margin-left: 60px;
}
